@import '~@styles/theme.less';

.collection-wrapper {
  padding: 0 12%;
  .collection-inner {
    background-color: @white;
    .select-wrapper {
      padding: 0 20px 20px;
      border: 1px solid @content-title-border;
      border-bottom: none;
      h3 {
        color: @content-title;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    .collection-dustbin {
      display: flex;
      .collection {
        border-right: none !important;
      }
      .dusbin {

      }
      .collection, .dustbin {
        flex: 1;
        min-height: 300px;
        border: 1px solid @content-title-border;
      }
      h3 {
        color: @content-title;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
      }
    }
    ul.drag-list, ul.collection-list {
      display: flex;
      flex-wrap: wrap;
      li.drag-item {
        display: flex;
        min-width: 64px;
        height: 64px;
        padding: 10px;
        box-sizing: border-box;
        margin: 0 10px 10px;
        justify-content: center;
        align-items: center;
        border: 1px solid @content-title-border;
        border-radius: 5px;
        cursor: default;
        transition: ease .2s;
        &:hover {
          color: @button-pink;
          border-color: @button-pink;
          transition: ease .2s;
        }
      }
    }
  }
}
/* Small devices (portrait tablets and large phones,767px and down) */
@media only screen and (max-width: 767px) {
  .collection-wrapper {
    padding: 0 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .collection-wrapper {
    padding: 0 5%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .collection-wrapper {
    padding: 0 12%;
  } 
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}